/* --- GLOBALS --- */
:root {
    /* Colors */
    --white:       #F5F5F5;
    --black:       #262626;
    --grey:        #DDDDDD;

    --accent-1:    #2F72B1;
    --accent-2:    #EE1B34;
    --accent-3:    #507C5E;

    --darken:      #000 15%;
    --lighten:     #FFF 15%;

    /* Font Sizes */
    --size-large:    1.25rem;
    --size-regular:  1rem;
    --size-small:    0.75rem;
    --size-border:   0.15rem;

    /* Header Size */
    --header-height: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    font-size: 18px;
}

section {
}

/* --- FONTS --- */
.ibm-plex-serif-medium-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
}

.google-sans-flex-normal {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}

.google-sans-flex-extrabold {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 75,
        "GRAD" 100,
        "ROND" 0;
}

.google-sans-flex-extrabold-condensed {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 35,
        "GRAD" 100,
        "ROND" 0;
}

/* --- OTHER GLOBALS --- */

h2 { opacity: 85%; }

/* --- SECTIONS --- */
#hero {
    height: 100vh;
    padding: 0 10%;
    color: var(--black);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4vw;

    .image {
        flex: 0 0 20vw;

        img {
            width: 100%;
            border-radius: 50%;
            object-fit: contain;
        }
    }

    .text {
        color: var(--black);
        flex: 1;

        h1 {
            font-size: 5vw;
            line-height: 0.9;
        }

        h2 {
            font-size: 2.5vw;
            line-height: 1;
        }
    }
}

#about {
    height: 100vh;
    padding: 0 20%;
    color: var(--black);

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;

    h2 { margin-bottom: 0.8rem; }
    p { margin-bottom: 0.5rem; }
}

/* --- START EXPERIMENT ZONE --- */
#aspects {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;

    .aspect {
        height: 30vh;
        padding: 0 2.5%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow: hidden;
        transition: height 0.1s ease;

        color: var(--white);

        h1 {
            opacity: 90%;
            font-size: 10vw;
        }
    }

    /* linear interpolation: starting + (ending - starting) * progress */
    .description {
        height: 10vh;
        background-color: var(--black);
        color: var(--white);
        height: calc(10% + (0% - 10%) * var(--expand-progress));
    }

    #software-development {
        background-color: var(--accent-1);
        height: calc(30% + (100% - 30%) * var(--expand-progress));
    }
    
    #media-production {
        background-color: var(--accent-2);
        height: calc(30% + (0% - 30%) * var(--expand-progress));
    }

    #leadership {
        background-color: var(--accent-3);
        height: calc(30% + (0% - 30%) * var(--expand-progress));
    }
}

.pin-wrapper {
    height: 140vh; /* tune to taste */
}

.aspect-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 5vh 2.5%;
    background-color: var(--accent-1);
    color: var(--white);
    transform: translateY(calc(100% * (1 - var(--reveal-progress, 0))));
    z-index: 2;
}

.aspect-content.released {
    position: static;
    transform: none;
}
/* ---  END EXPERIMENT ZONE --- */

#footer {
    background-color: var(--black);
    color: var(--white);
    height: 50vh;
    padding: 0 20%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- VIEWS --- */
/* 4K */
@media (max-width: 1920px) {
    html {
        font-size: 16px;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Mobile */
@media (max-width: 425px) {
    html {
        font-size: 12px;
    }
}